.spacer-element {
  display: block;
  width: 100%;
}

.spacer-element-flexible {
  flex: 1 1 0;
  min-height: 0;
}

.spacer-element-fixed {
  flex-shrink: 0;
  flex-grow: 0;
}

.spacer-element-vertical {
  width: 100%;
}

.spacer-element-horizontal {
  height: 100%;
  width: auto;
}

